@font-face {
    font-family: 'pixy';
    src: url('/static/main/fonts/PIXY.TTF') format('truetype'),

}
body{
  background: #EFEFBB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D4D3DD, #ffffdc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D4D3DD, #ffffdc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    background-size: cover;
    background-attachment: fixed;


}
*{
    font-family: 'pixy';
}
form{
    width: 300px;
    padding: 5px;
    background: #2193b0;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin: auto;
}

.btnsend{
    margin-top: 20px;
    margin-left: 80px;
}

@media (min-width: 768px) {
    form{
        width: 500px;
        transform: translateY(10%);
        background-color: #664D03;
    }

    .btnsend{
        margin-top: 20px;
        margin-left:180px;
    }
}


