{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Новини</title>
    <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/img/logo/logo.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-transperent">
        <div class="container-fluid">
          <img class="navbar-brand logo" src="{% static 'main/img//logo/logo.png' %}">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'main' %}">Головна</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main' %}#about">Про нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'form' %}">Вступ в команду</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'news' %}">Новини</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Профіль</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <br>
    <h1 style="text-align: center; font-weight: bold; font-size: 35px">Новини Лисинич</h1>
    <div class="news">
        {% for el in news %}
        <div class="alert alert-warning">
    {% if el.content %}
        {% if el.content.url|lower|slice:"-4:" == ".jpg" or el.content.url|lower|slice:"-5:" == ".jpeg" or el.content.url|lower|slice:"-4:" == ".png" %}
            <img src="{{ el.content.url }}" alt="Image" style="max-width: 300px; margin-left: 10px; margin-bottom: 20px;">
        {% elif el.content.url|lower|slice:"-4:" == ".mp4" or el.content.url|lower|slice:"-4:" == ".avi" or el.content.url|lower|slice:"-4:" == ".mov" %}
            <video controls style="max-width: 100%; height: auto;">
                <source src="{{ el.content.url }}" type="video/mp4">
            </video>

        {% endif %}
    {% endif %}

            <h2 style="color: #4a2b0c; font-weight: bold;">{{ el.title }}</h2>
            <p>{{ el.anons }}</p>
            <br>
            <p>{{ el.full_text }}</p>
            <p style="float: right;">{{ el.data }}</p>
            <br>
            <br>
        </div>
    {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>